
body{
    background: #a770ef;
    background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
    font-family: sans-serif;
}

#main{
    text-align: center;
    margin: 100px auto 20px;
    width: 45%;
    display: flex;   
    background: #edeef0;
    padding: 40px 30px 70px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    
}


#content h1{
    font-size: 30px;
    color: #6190E8;

}
input{
    flex: 1;
    border: 0;
    border-bottom: 1px;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 13px 40px;
    background-color: #ffc404;
    align-items: center;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin: 20px;
}
